

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Banner reuse */
.pageimg {
    width: 100%;
    height: 180px;
    background:
        linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
        url("about1.png");
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

.pageimg-content p {
    color: white;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 3px;
}

.title-hr {
    width: 50px;
    height: 4px;
    background-color: #f45607;
    border: none;
    margin: 6px auto 0;
}

/* Gallery grid */
.gallery-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding: 60px 80px;
    background-color: #fff;
}

/* Gallery card */
.gallery-card img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.gallery-card h3 {
    margin-top: 15px;
    font-size: 20px;
    color: #000;
}

.gallery-card span {
    font-size: 14px;
    color: #f45607;
}


.gallery-card {
    display: none; /* hide all initially */
}




.load{
    background: #f45607;
     margin-left: 700px;
     text-align: center;
     color: white;
     border-radius: 20px;
     border-color: #f45607;
     height: 50px;
     width: 100px;
     margin-bottom: 80px;
     margin: 40px auto;
      display: block;
     
}


.loadMoreBtn:hover {
    background-color: #d44a06;
}

/* Responsive */
@media (max-width: 992px) {
    .gallery-section {
        grid-template-columns: repeat(2, 1fr);
        padding: 40px;
    }
}

@media (max-width: 576px) {
    .gallery-section {
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .gallery-card img {
        height: 260px;
    }
}

